# Папка с окружением REST-сервера
pavlov_rest/deeppavlov/*
# Папки с сохраненными моделями и виртуальным окружением
bert_mult/current_model/*
bert_mult/saved_models/*
bert_mult/deeppavlov/*
# Flask кэш и виртуальное окружение
bert_mult/web/venv/*
bert_mult/web/.idea/*
bert_mult/web/__pycache__/*
bert_mult/web/app/__pycache__/*
.idea/*
