{% extends 'base.html' %}

{% block content %}

<table id="table_types" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>B-токен</th>
                <th>I-токен</th>
                <th>Цвет</th>
                <th>Описание</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
		{% for type in types %}
		<tr>
			<td>{{type['id']}}</td>
			<td>{{type['name']}}</td>
            <td>{{type['b']}}</td>
			<td>{{type['i']}}</td>
			<td>{{type['color']}}</td>
			<td>{{type['description']}}</td>
            <td><form action="/types#close" method="POST" style="display:inline">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="delete_{{type['id']}}">
    <input type="submit" class="btn btn-dark" value="Удалить" style="width: 100%;">
            </form></td>
		</tr>
        {% endfor %}
        </tbody>
    </table>


	<script type="text/javascript" src='/static/datatables.min.js'></script>
<script>
	$(document).ready(function() {
    $('#table_types').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>

<input value="Добавить" id="addbutton" type="button" onclick="location.href='#openModal'" />
<div id="openModal" class="modalDialog">
  <div>
  <a href="#close" title="Закрыть" class="close">X</a>

  <p><!-- v_loop --><div align="center"><div class="v_loop">
<div class="v_cont"><span style="font-size: 8pt;">
<form method="post">

    {{ form.csrf_token() }}

    {% for field in form if field.name != "csrf_token"  and field.name != "submit"%}
	<p>{{ field.label() }}</p>
	<p>{{ field() }}
	    {% for error in field.errors %}
		{{ error }}
	    {% endfor %}
	</p>
    {% endfor %}

    <p>{{form.submit}}</p>


</form>
</span></div>
</div></div><!-- /v_loop --></p>

  </div>
</div>

{% endblock %}

